@use "./styles/variables" as *; 

.page-title{
    font-size: 2rem;
    font-family: $primary-font;
    color: $accent-yellow;
    text-align: center;
}

body{
    background-color: $background-color;
}